{{> head }}

     {{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Hola a todos</h1>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi commodi fuga quisquam minus, repellendus beatae quod odit quos ratione nesciunt. A illum velit facere ex esse deserunt nulla dignissimos hic!</p>
        </div>

        <div class="col-4">
            <img src="assets/img/Captura.PNG" alt="" class="img-thumbnail">
        </div>

    </div>
</div>
    

{{> footer }}